<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="SiteName" value="遂宁广播电视大学学生中心"/>
  <add key="ChromeDownload" value="~/files/chrome.exe"/>
  <add key="FirefoxDownload" value="http://download.firefox.com.cn/releases/stub/official/zh-CN/Firefox-latest.exe"/>
</appSettings>